# Directories for large, project-specific files
data/*
!data/.gitkeep
runs/*
!runs/.gitkeep
cache/*
!cache/.gitkeep
penne/checkpoints/*
logs/*
notebooks/*
checkpoints/*

*.egg-info/
.empty/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
__pycache__/
build/
dist/
profile.out
