# Directories for large, project-specific files
data/cache/*
!data/cache/.gitkeep
data/datasets/*
!data/datasets/.gitkeep
data/sources/*
!data/sources/.gitkeep
eval/*
!eval/.gitkeep
runs/*
!runs/.gitkeep

__pycache__/
.DS_Store
._.DS_Store
.ipynb_checkpoints/
.vscode/
*.egg-info/
