huggingface_hub # 0.11.1
librosa         # 0.9.1
matplotlib      # 3.6.1
numpy           # 1.23.4
pyworld         # 0.3.2
scipy           # 1.9.3
tensorboard     # 2.11.0
torch           # 1.12.1+cu113
tqdm            # 4.64.1
torchaudio      # 0.12.1+cu113
torchcrepe      # 0.0.17
yapecs          # 0.0.6
